p10k.zsh
i3/config.endeavoros
i3/i3blocks.conf
dunst/
compton/
xfce4/
prezto/runcoms/zshrc
prezto/runcoms/zlogout
prezto/runcoms/zlogin
prezto/runcoms/zpreztorc
prezto/runcoms/zprofile
prezto/runcoms/zshenv

